__pycache__/
*.py[cod]

.venv/
.env

db.sqlite3
mytweet/db.sqlite3.backup
data_backup.json
mytweet/export_data.py
mytweet/profiles_data.json
mytweet/tweets_data.json
mytweet/users_data.json

media/
staticfiles/

.vscode/
*.log

ca.pem

questions.txt
notes.md
workflow.md
features.txt
